<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <label for="name">Name: <input type="text" value="name" id="name"></label>
  <label for="email">Email: <input type="text" value="email" id="email"></label>
  <label for="password">Password: <input type="text" value="password" id="passowrd"></label>

  <input type="submit" value="submit">
</form>
