<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <label for="user+name">Name: <input type="text" name="name" id="name"></label>
  <label for="user+email">Email: <input type="text" name="email" id="email"></label>
  <label for="user+password">Password: <input type="text" name="password" id="password"></label>

  <input type="submit" id="submit" value="Sign Up">
</form>
