<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <label for="">Name: <input type="text" name="name"></label>
  <label for="">Email: <input type="text" name="email"></label>
  <label for="">Password: <input type="text" name="password"></label>

  <input type="submit" id="submit" value="Sign Up">
</form>
